/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'Helvetica Neue'  !important;


// headings
h2 {
  color: #1c3f6e !important;
  font-family: 'Helvetica Neue';
}

h2::first-letter {
  color: #17ace3;
  font-family: 'Helvetica Neue';
}

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

/* .reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 1050px;
  left: 70px;
  height: 50px !important;
  width: 50x !important;
  max-width: unset !important;
  max-height: unset !important;
} */



.gdbar img {
  width: 300px !important;
  height: 150px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 400px !important;
  height: 170px !important;
}

slides > slide:not(.nobackground):before {
  width: 150px;
  height: 75px;
  background-size: 150px 75px;
}

.forceBreak { -webkit-column-break-after: always; break-after: column; }